// Place all the styles related to the Fortune controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

html {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}
.text-center {
  text-align: center;
}

.cookie {
  font-size: -webkit-xxx-large;
}
